<html>
  <head>

      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'world/style.css' %}" />

      <title>Welcome</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <style>
        body {
          text-align: center;
        }
      </style>
      
  </head>
  <body class="main">
    <h1>Spatial Data Visualization</h1>
    <p>
        View, query, and download spatial data related to projects at the TDSC CTARA lab.
    </p>
    <br>
    <a href="/maps/">View Map</a>
    <br>
    <a href="/downloads/">Download Geospatial Data</a>
  </body>
</html>